#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('../../assets/alianças.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-content {
    margin-bottom: 3rem;
    background-color: rgba(61, 29, 22, 0.8);
    width: 100%;
    padding: 1rem 0;
}

.names {
    font-family: 'Ephesis', cursive;
    font-size: 3rem;
    color: white;
    margin-bottom: 0.5rem;
    font-style: italic;
}

.separator {
    color: var(--mostarda);
    font-size: 2rem;
    margin: 0 0.5rem;
}

.date {
    font-size: 1.2rem;
    color: white;
    margin-top: 1rem;
}